<a href="https://colab.research.google.com/github/EduardoDeutscher/lista_3/blob/main/lista3_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Salve a base de dados escolhida no seu drive e importe para um notebook do Colab, criando um Dataframe
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/class_diabetes.csv")
dataDF=pd.DataFrame(data)
display(dataDF)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

     preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [ ]:
#2.Inspecione as colunas do conjunto de dados (Nome das colunas e tipo de dados)
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   preg    768 non-null    int64
 1   plas    768 non-null    int64
 2   pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   insu    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

None

In [ ]:
#3.Escolha uma coluna com valores numÃ©ricos e apague todas as linhas que possuam valor nulo
dataDF.dropna(subset=['preg'],inplace=True)
display(dataDF)

     preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [ ]:
#4.Calcule a mÃ©dia desta mesma coluna
media = dataDF['preg'].mean()
print(media)

3.8450520833333335

In [ ]:
#5.Escolha um critÃ©rio para eliminar as linhas que possuam valores muito distantes da mÃ©dia e crie um novo Dataframe.
linremov1 = dataDF[(dataDF['preg']>=4.2)].index
linremov2 = dataDF[(dataDF['preg']<3.4)].index
dataDF_remove1 = dataDF.drop(linremov1,axis=0)
dataDf_remove2 = dataDF_remove1.drop(linremov2,axis=0)
display(dataDf_remove2)

     preg  plas  pres  skin  insu  mass   pedi  age            class
10      4   110    92     0     0  37.6  0.191   30  tested_negative
35      4   103    60    33   192  24.0  0.966   33  tested_negative
39      4   111    72    47   207  37.1  1.390   56  tested_positive
69      4   146    85    27   100  28.9  0.189   27  tested_negative
73      4   129    86    20   270  35.1  0.231   23  tested_negative
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
704     4   110    76    20   100  28.4  0.118   27  tested_negative
720     4    83    86    19     0  29.3  0.317   34  tested_negative
725     4   112    78    40     0  39.4  0.236   38  tested_negative
735     4    95    60    32     0  35.4  0.284   28  tested_negative
750     4   136    70     0     0  31.2  1.182   22  tested_positive

[68 rows x 9 columns]

In [ ]:
#6.Crie um novo Dataframe que contenha apenas 5 colunas do conjunto anterior.
col1 = dataDF['preg']
col2 = dataDF['plas']
col3 = dataDF['pres']
col4 = dataDF['skin']
col5 = dataDF['insu']
novoDF = pd.concat([col1,col2,col3,col4,col5],axis = 1)
display(novoDF)

     preg  plas  pres  skin  insu
0       6   148    72    35     0
1       1    85    66    29     0
2       8   183    64     0     0
3       1    89    66    23    94
4       0   137    40    35   168
..    ...   ...   ...   ...   ...
763    10   101    76    48   180
764     2   122    70    27     0
765     5   121    72    23   112
766     1   126    60     0     0
767     1    93    70    31     0

[768 rows x 5 columns]

In [ ]:
#7.Escolha duas colunas numÃ©ricas e crie uma nova coluna que siga a regra: (Coluna A - Coluna B)*nÃºmero aleatÃ³rio (entre 0 e 1).
import random
num=random.random()
print(num)
novoDF['nova'] =(novoDF['preg'] + novoDF['plas'])*num
display(novoDF)

0.12803163746261603

     preg  plas  pres  skin  insu       nova
0       6   148    72    35     0  19.716872
1       1    85    66    29     0  11.010721
2       8   183    64     0     0  24.454043
3       1    89    66    23    94  11.522847
4       0   137    40    35   168  17.540334
..    ...   ...   ...   ...   ...        ...
763    10   101    76    48   180  14.211512
764     2   122    70    27     0  15.875923
765     5   121    72    23   112  16.131986
766     1   126    60     0     0  16.260018
767     1    93    70    31     0  12.034974

[768 rows x 6 columns]

In [ ]:
#8.Embaralhe aleatoriamente o dataframe (Ã­ndices e valores).
import numpy as np
DF3 = novoDF.reindex(np.random.permutation(novoDF.index))
display(DF3)

     preg  plas  pres  skin  insu       nova
227     3   162    52    38     0  21.125220
40      3   180    64    25    70  23.429790
69      4   146    85    27   100  19.204746
459     9   134    74    33    60  18.308524
443     8   108    70     0     0  14.851670
..    ...   ...   ...   ...   ...        ...
305     2   120    76    37   105  15.619860
86     13   106    72    54     0  15.235765
512     9    91    68     0     0  12.803164
71      5   139    64    35   140  18.436556
216     5   109    62    41   129  14.595607

[768 rows x 6 columns]

In [ ]:
#9.Ordene o Dataframe seguindo um critÃ©rio definido por vocÃª (Explique o critÃ©rio)
#CritÃ©rio: valores de preg em ordem decrescente
ordem = DF3.sort_values(by = 'preg',ascending = False)
display(ordem)

     preg  plas  pres  skin  insu       nova
159    17   163    72    41   114  23.045695
88     15   136    70    32   110  19.332777
455    14   175    62    30     0  24.197979
298    14   100    78    25   184  14.595607
274    13   106    70     0     0  15.235765
..    ...   ...   ...   ...   ...        ...
109     0    95    85    25    36  12.163006
58      0   146    82     0     0  18.692619
623     0    94    70    27   115  12.034974
682     0    95    64    39   105  12.163006
102     0   125    96     0     0  16.003955

[768 rows x 6 columns]

In [ ]:
#10.Escolha uma coluna numÃ©rica e um coluna com strings e utilize a funÃ§Ã£o Groupby para mostrar os totais da  coluna.
#NÃ£o possuo nenhum valor do tipo string
agrupamento = DF3.groupby(['preg']).count()
display(agrupamento)

      plas  pres  skin  insu  nova
preg
0      111   111   111   111   111
1      135   135   135   135   135
2      103   103   103   103   103
3       75    75    75    75    75
4       68    68    68    68    68
5       57    57    57    57    57
6       50    50    50    50    50
7       45    45    45    45    45
8       38    38    38    38    38
9       28    28    28    28    28
10      24    24    24    24    24
11      11    11    11    11    11
12       9     9     9     9     9
13      10    10    10    10    10
14       2     2     2     2     2
15       1     1     1     1     1
17       1     1     1     1     1

In [ ]:
#11.Utilize a funÃ§Ã£o MAPS para fazer algum tipo de substituiÃ§Ã£o no Dataframe (explique)
novoDF['nova_2'] = novoDF['pres'].map
display(novoDF)

,preg,plas,pres,skin,insu,nova,nova_2
0,6,148,72,35,0,19.716872,<bound method Series.map of 0 72\n1 ...
1,1,85,66,29,0,11.010721,<bound method Series.map of 0 72\n1 ...
2,8,183,64,0,0,24.454043,<bound method Series.map of 0 72\n1 ...
3,1,89,66,23,94,11.522847,<bound method Series.map of 0 72\n1 ...
4,0,137,40,35,168,17.540334,<bound method Series.map of 0 72\n1 ...
...,...,...,...,...,...,...,...
763,10,101,76,48,180,14.211512,<bound method Series.map of 0 72\n1 ...
764,2,122,70,27,0,15.875923,<bound method Series.map of 0 72\n1 ...
765,5,121,72,23,112,16.131986,<bound method Series.map of 0 72\n1 ...
766,1,126,60,0,0,16.260018,<bound method Series.map of 0 72\n1 ...
767,1,93,70,31,0,12.034974,<bound method Series.map of 0 72\n1 ...

In [ ]:
#12.Exporte o Ãºltimo Dataframe para um arquivo CSV e salve no seu drive
from google.colab import drive
drive.mount('/drive')
novoDF.to_csv('/drive/MyDrive/novoDF.csv')

Mounted at /drive

In [ ]:
#13.Exporte o mesmo Dataframe para um arquivo JSON e salve no seu drive
from google.colab import drive
drive.mount('/drive')
novoDF.to_json('/drive/MyDrive/novoDF.json')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [ ]:
#14.Salve o Notebook no seu repositÃ³rio do Github junto com os arquivos exportados.